.navbar
{
    height: 50px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    color: white;

}

.logo
{
    font-weight: bold;
    font-size: 20px;

}

.icons
{
    display: flex;
    align-items: center;
}

.icon
{
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.iconImg
{
    width: 25px;
    height: 25px;
}

.counter
{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -4px;
}

.notifications
{
    position: absolute;
    top:50px;
    right:0;
    background-color: lavenderblush;
    color: black;
    font-weight: 350;
    display: flex;
    flex-direction: column;

}

.notification
{
    padding: 4px;
    font-size: 13px;
}

.notifications-button
{
    width: 70%;
    padding: 5px;
    margin-top:5px;
}